2<h1 class="page-title">Currency</h1>
<ul class="nav nav-tabs" id="dw_tabs"></ul>
<div class="-cc-container clearfix row"  id="dw_body">
    <div class="col-md-4">
        <div class="panel panel-calculator">
            <div class="panel-image">
                <a href="/coins/btc/overview/">
                    <img title="Logo BTC" src="/media/19633/btc.png?width=200">
                </a>
            </div>
            <div class="calculated-for">Calculated for
                <div class="calculated-for-value ng-binding">1 BTC = $ 2584.43</div>
            </div>
            <div class="panel-body">
                <form class="ng-pristine ng-valid">
                    <div class="form-group">
                        <label for="hashing-power">Hashing Power</label>
                        <div class="input-group">
                            <input class="form-control input-hashing-power ng-pristine ng-untouched ng-valid ng-not-empty" name="HashingPower" id="hashing-power" type="text" ng-model="currentData.HashingPower" ng-change="generateValues()">
                            <select class="input-group-addon select-hashing-power ng-pristine ng-untouched ng-valid ng-not-empty" name="currentHashingUnit" ng-options="option for option in hashingUnitsNames track by option" ng-model="currentData.HashingUnit" ng-change="generateValues()">
                                <option label="H/s" value="1">H/s</option>
                                <option label="KH/s" value="1024">KH/s</option>
                                <option label="MH/s" value="1048576">MH/s</option>
                                <option label="GH/s" value="1073741824" selected="selected">GH/s</option>
                                <option label="TH/s" value="1099511627776">TH/s</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-groups">
                            <label for="power-consumption">Power consumption (w)</label>
                            <input id="power-consumption" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" name="PowerConsumption" type="text" ng-model="currentData.PowerConsumption" ng-change="generateValues()">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-groups">
                            <label for="cost">Cost per KW/h ($)</label>
                            <input id="cost" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" name="CostPerkWh" type="text" ng-model="currentData.CostPerkWh" ng-change="generateValues()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="calculator-results results-positive">
            <div class="results-header">
                <div class="circle-values">
                    <div class="circle-value circle-first" title="This is the total mined - the total cost">
                        <div class="circle-label">Profit per month</div>
                        <div class="circle-content ng-binding">
                            $ 3.57
                        </div>
                    </div>
                    <div class="circle-value">
                        <div class="circle-label">Profit ratio per day</div>
                        <div class="circle-content ng-binding">
                            8%
                        </div>
                    </div>
                </div>
            </div>

            <div class="calculator-container">
                <div class="calculator-row-name">
                    Day
                </div>
                <div class="calculator-col calculator-first-col">
                    <div class="calculator-label" title="This is the total mined - the total cost">
                        Profit per day
                    </div>
                    <div class="calculator-value ng-binding">
                        $ 0.1190
                    </div>
                </div>
                <div class="calculator-col">
                    <div class="calculator-label">
                        Mined/day
                    </div>
                    <div class="calculator-value ng-binding">
                        ? 0.0006032
                    </div>
                </div>
                <div class="calculator-col">
                    <div class="calculator-label">
                        Power cost/Day
                    </div>
                    <div class="calculator-value ng-binding">
                        $ 1.44
                    </div>
                </div>
            </div>

            <div class="calculator-container">
                <div class="calculator-row-name">
                    Week
                </div>
                <div class="calculator-col calculator-first-col">
                    <div class="calculator-label" title="This is the total mined - the total cost">
                        Profit per week
                    </div>
                    <div class="calculator-value ng-binding">
                        $ 0.8327
                    </div>
                </div>
                <div class="calculator-col">
                    <div class="calculator-label">
                        Mined/week
                    </div>
                    <div class="calculator-value ng-binding">
                        ? 0.004222
                    </div>
                </div>
                <div class="calculator-col">
                    <div class="calculator-label">
                        Power cost/Week
                    </div>
                    <div class="calculator-value ng-binding">
                        $ 10.08
                    </div>
                </div>
            </div>

            <div class="calculator-container">
                <div class="calculator-row-name">
                    Month
                </div>
                <div class="calculator-col calculator-first-col" title="This is the total mined - the total cost">
                    <div class="calculator-label">
                        Profit per month
                    </div>
                    <div class="calculator-value ng-binding">
                        $ 3.57
                    </div>
                </div>
                <div class="calculator-col">
                    <div class="calculator-label">
                        Mined/month
                    </div>
                    <div class="calculator-value ng-binding">
                        ? 0.01810
                    </div>
                </div>
                <div class="calculator-col">
                    <div class="calculator-label">
                        Power cost/Month
                    </div>
                    <div class="calculator-value ng-binding">
                        $ 43.20
                    </div>
                </div>
            </div>

            <div class="calculator-container">
                <div class="calculator-row-name">
                    Year
                </div>
                <div class="calculator-col calculator-first-col">
                    <div class="calculator-label" title="This is the total mined - the total cost">
                        Profit per year
                    </div>
                    <div class="calculator-value ng-binding">
                        $ 43.42
                    </div>
                </div>
                <div class="calculator-col">
                    <div class="calculator-label">
                        Mined/year
                    </div>
                    <div class="calculator-value ng-binding">
                        ? 0.2202
                    </div>
                </div>
                <div class="calculator-col">
                    <div class="calculator-label">
                        Power cost/Year
                    </div>
                    <div class="calculator-value ng-binding">
                        $ 525.60
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
